@{
    ViewData["Title"] = "About";
}

<div id="about">
    <h1>About Me</h1>
    <h2>Purpose of this site</h2>
    <p>
        My name is Juan, I'm software developer who enjoys learning and applying computer science to build software.
        Besides coding, I enjoy playing soccer, working out, watching movies, and fishing.
        This site was mainly built to document programming-related things but I will occasionally blog about soccer, and other miscellaneous things.
    </p>
</div>