@{
    ViewData["Title"] = "Contact";
}

<div class="section">
    <h1>Contact</h1>
    <p>
        Feel free to contact me with any questions or comments
    </p>
    <form action="index.html" method="post" class="message">
        <input type="text" value="Name" onFocus="this.select();" onMouseOut="javascript:return false;" />
        <input type="text" value="Email" onFocus="this.select();" onMouseOut="javascript:return false;" />
        <input type="text" value="Subject" onFocus="this.select();" onMouseOut="javascript:return false;" />
        <textarea></textarea>
        <input type="submit" disabled="disabled" value="Send" />
    </form>
</div>
<div class="section contact">
    <p>
        github: <span style="font-size:medium"><a href="https://github.com/juancito0316?tab=repositories"><b>view github</b></a></span>
    </p>
    <p>
        linkedIn <span style="font-size:medium"><a href="https://www.linkedin.com/in/juan-hernandez-11783269/"><b>view linkedIn </b></a></span>
    </p>
</div>
